.SearchBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-image: url("./background_search_desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 25rem;
}

.SearchBar-sort-options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.SearchBar-sort-options ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.SearchBar-sort-options li {
    margin: 0 10px;
    cursor: pointer;
}

.SearchBar-sort-options .active {
    font-weight: bold;
}

.SearchBar-fields {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.SearchBar-fields input {
    margin: 0 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.SearchBar-submit {
    display: flex;
    justify-content: center;
}

.SearchBar-submit button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #d32323;
    color: #fff;
    cursor: pointer;
}

.SearchBar-submit button:hover {
    background-color: #a51c1c;
}

@media only screen and (max-width: 560px) {
    .SearchBar {
      background-image: url("./background_search_mobile.jpg");
    }
  
    .SearchBarSortOptions ul {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  
    .SearchBarFields {
      flex-direction: column;
      align-items: center;
    }
  
    .SearchBarFields input {
      margin-right: 0;
      margin-bottom: 0.86rem;
    }
  }