.SearchBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-image: url("./background_search_desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 25rem;
}

.SearchBarSortOptions {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: #fff;
}

.SearchBarSortOptions ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-bottom: 2.45rem;
    color: #ffffff;
    align-content: center;
}

.SearchBarSortOptions li {
    cursor: pointer; 
    width: 4.50rem;
    border-bottom: 1px solid #fff;
    padding: 0 2.58rem 0.33rem 2.58rem;
    line-height: 1.43;
    text-align: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.03rem;
    transition: color 0.25s, font-weight 0.25s;
    list-style: none;
}

.SearchBarSortOptions li:hover {
    color: #cca353;
}

.SearchBarSortOptions .active {
    font-weight: bold;
    color: #cca353;
    border-bottom: 2px solid #cca353;
}

.SearchBarFields {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.SearchBarFields input {
    margin: 0 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.SearchBarSubmit {
    display: flex;
    justify-content: center;
}

.SearchBarSubmit button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #cca353;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.SearchBarSubmit button:hover {
    background-color: #b3873e;
}

@media only screen and (max-width: 560px) {
    .SearchBar {
        background-image: url("./background_search_mobile.jpg");
    }

    .SearchBarSortOptions ul {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .SearchBarFields {
        flex-direction: column;
        align-items: center;
    }

    .SearchBarFields input {
        margin-right: 0;
        margin-bottom: 0.86rem;
    }
}
